@model  List<Actividad4LengProg3.Models.EstudianteViewModel>


<h1>Listado de estudiantes registrados</h1>


@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-success">@TempData["Mensaje"]</div>
}


<div class="row">
    <div class="col-12">
    <table class=" table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nombre Completo</th>
                <th>Matrícula</th>
                <th>Carrera</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>Fecha Nacimiento</th>
                <th>Género</th>
                <th>Turno</th>
                <th>Tipo Ingreso</th>
                <th>Beca</th>
                <th>Porcentaje de la Beca</th>
                <th>Terminos y condiciones</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var it in Model)
                {
                <tr>
                    <td>@it.nombreEstudiante</td>
                    <td>@it.matriculaEstudiante</td>
                    <td>@it.carreraEstudiante</td>
                    <td>@it.correoEstudiante</td>
                    <td>@it.telefonoEstudiante</td>
                    <td>@it.fechaEstudiante.ToShortDateString()</td>
                    <td>@it.generoEstudiante</td>
                    <td>@it.turnoEstudiante</td>
                    <td>@it.ingresoEstudiante</td>
                    <td>@(it.becaEstudiante ? "Sí" : "No")</td>
                    <td>@it.porcentajebecaEstudiante</td>
                    <td>@it.tcEstudiante</td>
                    <td>
                        <a asp-action="Editar" asp-route-matricula="@it.matriculaEstudiante" class="btn btn-secondary">Editar estudiante</a>
                        <a asp-action="Eliminar" asp-route-matricula="@it.matriculaEstudiante" class="btn btn-danger">Eliminar estudiante</a>
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>
</div>


